# WellSAP

## Data Preparation

### Library Imports

In [1]:
import numpy as np
import pandas as pd
import random
import datetime

### Data Loading

In [2]:
hr_data = pd.read_csv('./../dataset/HRDataset_v14.csv',header=0)
attrition_data = pd.read_csv('./../dataset/WA_Fn-UseC_-HR-Employee-Attrition.csv', header=0)
lifestyle_data = pd.read_csv('./../dataset/Wellbeing_and_lifestyle_data_Kaggle.csv', header=0)

### Data Pre-Processing

In [3]:
hr_data = hr_data[["Employee_Name", "MaritalStatusID", "Sex", "DeptID", "PerfScoreID", "FromDiversityJobFairID", "Salary", "DOB", "CitizenDesc", "HispanicLatino", "RaceDesc", "ManagerID", "EngagementSurvey", "EmpSatisfaction", "SpecialProjectsCount", "DaysLateLast30", "Absences"]]

attrition_data = attrition_data[["Age", "Attrition", "BusinessTravel", "DistanceFromHome", "Education", "EducationField", "EnvironmentSatisfaction", "Gender", "JobInvolvement", "JobLevel", "JobSatisfaction", "NumCompaniesWorked", "OverTime", "PercentSalaryHike", "PerformanceRating", "RelationshipSatisfaction", "StockOptionLevel", "TrainingTimesLastYear", "WorkLifeBalance", "YearsAtCompany", "YearsInCurrentRole", "YearsSinceLastPromotion", "YearsWithCurrManager"]]

lifestyle_data = lifestyle_data[['FRUITS_VEGGIES', 'DAILY_STRESS', 'PLACES_VISITED', 'CORE_CIRCLE', 'SUPPORTING_OTHERS', 'SOCIAL_NETWORK', 'ACHIEVEMENT', 'DONATION', 'BMI_RANGE', 'TODO_COMPLETED', 'FLOW', 'DAILY_STEPS', 'LIVE_VISION', 'SLEEP_HOURS', 'LOST_VACATION', 'DAILY_SHOUTING', 'SUFFICIENT_INCOME', 'PERSONAL_AWARDS', 'TIME_FOR_PASSION', 'WEEKLY_MEDITATION', 'AGE', 'GENDER', 'WORK_LIFE_BALANCE_SCORE']]

In [4]:
def age_grouping(Age):
    Age = int(Age)
    if Age<=20:
        return 'Less than 20'
    elif Age>=21 and Age<=35:
        return '21 to 35'
    elif Age>=36 and Age<=50:
        return '36 to 50'
    elif Age>=51:
        return '51 or more'

In [5]:
hr_data['Employee_ID'] = np.arange(1,312)
hr_data['DOB'] = pd.to_datetime(hr_data.DOB)
hr_data['Age'] = pd.to_datetime(datetime.date(2017,7,20))
hr_data['Age'] = ((abs(hr_data['Age'] - hr_data['DOB']))/365).dt.days
hr_data['Age_Group'] = hr_data.Age.apply(lambda x: age_grouping(x))
hr_data['Sex'] = hr_data.Sex.str.slice(0,1)
hr_data.set_index('Employee_ID',inplace=True)
hr_data.to_csv('./../dataset/hr_data.csv')

attrition_data['Employee_ID'] = 0
attrition_data['Gender'] = attrition_data['Gender'].str.slice(0,1)
attrition_data['Age_Group'] = attrition_data.Age.apply(lambda x: age_grouping(x))

lifestyle_data['Employee_ID'] = 0
lifestyle_data['GENDER'] = lifestyle_data['GENDER'].str.slice(0,1)

### Data Exploration

#### HR Data

In [6]:
print("HR Data Info:")
print(hr_data.info())
hr_data.head(5)

HR Data Info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 1 to 311
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Employee_Name           311 non-null    object
 1   MaritalStatusID         311 non-null    int64
 2   Sex                     311 non-null    object
 3   DeptID                  311 non-null    int64
 4   PerfScoreID             311 non-null    int64
 5   FromDiversityJobFairID  311 non-null    int64
 6   Salary                  311 non-null    int64
 7   DOB                     311 non-null    datetime64[ns]
 8   CitizenDesc             311 non-null    object
 9   HispanicLatino          311 non-null    object
 10  RaceDesc                311 non-null    object
 11  ManagerID               303 non-null    float64
 12  EngagementSurvey        311 non-null    float64
 13  EmpSatisfaction         311 non-null    int64
 14  SpecialProjectsCount    311 non-null    int64
 15  DaysLateLast30          311 non-null    int64
 16  Absences                311 non-null    int64
 17  Age                     311 non-null    int64
 18  Age_Group               311 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(10), object(6)
memory usage: 48.6+ KB
None

,Employee_Name,MaritalStatusID,Sex,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,DOB,CitizenDesc,HispanicLatino,RaceDesc,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences,Age,Age_Group
Employee_ID,,,,,,,,,,,,,,,,,,,
1,"Adinolfi, Wilson K",0,M,5,4,0,62506,1983-07-10,US Citizen,No,White,22.0,4.60,5,0,0,1,34,21 to 35
2,"Ait Sidi, Karthikeyan",1,M,3,3,0,104437,1975-05-05,US Citizen,No,White,4.0,4.96,3,6,0,17,42,36 to 50
3,"Akinkuolie, Sarah",1,F,5,3,0,64955,1988-09-19,US Citizen,No,White,20.0,3.02,3,0,0,3,28,21 to 35
4,"Alagbe,Trina",1,F,5,3,0,64991,1988-09-27,US Citizen,No,White,16.0,4.84,5,0,0,15,28,21 to 35
5,"Anderson, Carol",2,F,5,3,0,50825,1989-09-08,US Citizen,No,White,39.0,5.00,4,0,0,2,27,21 to 35

#### Attrition Data

In [7]:
print("\nEmployee Attrition Data Info:")
print(attrition_data.info())
attrition_data.head(5)

Employee Attrition Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DistanceFromHome          1470 non-null   int64
 4   Education                 1470 non-null   int64
 5   EducationField            1470 non-null   object
 6   EnvironmentSatisfaction   1470 non-null   int64
 7   Gender                    1470 non-null   object
 8   JobInvolvement            1470 non-null   int64
 9   JobLevel                  1470 non-null   int64
 10  JobSatisfaction           1470 non-null   int64
 11  NumCompaniesWorked        1470 non-null   int64
 12  OverTime                  1470 non-null   object
 13  PercentSalaryHike         1470 non-null   int64
 14  PerformanceRating         1470 non-null   int64
 15  RelationshipSatisfaction  1470 non-null   int64
 16  StockOptionLevel          1470 non-null   int64
 17  TrainingTimesLastYear     1470 non-null   int64
 18  WorkLifeBalance           1470 non-null   int64
 19  YearsAtCompany            1470 non-null   int64
 20  YearsInCurrentRole        1470 non-null   int64
 21  YearsSinceLastPromotion   1470 non-null   int64
 22  YearsWithCurrManager      1470 non-null   int64
 23  Employee_ID               1470 non-null   int64
 24  Age_Group                 1470 non-null   object
dtypes: int64(19), object(6)
memory usage: 287.2+ KB
None

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StockOptionLevel,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Employee_ID,Age_Group
0,41,Yes,Travel_Rarely,1,2,Life Sciences,2,F,3,2,...,1,0,0,1,6,4,0,5,0,36 to 50
1,49,No,Travel_Frequently,8,1,Life Sciences,3,M,2,2,...,4,1,3,3,10,7,1,7,0,36 to 50
2,37,Yes,Travel_Rarely,2,2,Other,4,M,2,1,...,2,0,3,3,0,0,0,0,0,36 to 50
3,33,No,Travel_Frequently,3,4,Life Sciences,4,F,3,1,...,3,0,3,3,8,7,3,0,0,21 to 35
4,27,No,Travel_Rarely,2,1,Medical,1,M,3,1,...,4,1,3,3,2,2,2,2,0,21 to 35

#### Lifestyle Data

In [8]:
print("\nLifestyle and Nutrition Data Info:")
print(lifestyle_data.info())    
lifestyle_data.head(5)

Lifestyle and Nutrition Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15972 entries, 0 to 15971
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FRUITS_VEGGIES           15972 non-null  int64
 1   DAILY_STRESS             15972 non-null  object
 2   PLACES_VISITED           15972 non-null  int64
 3   CORE_CIRCLE              15972 non-null  int64
 4   SUPPORTING_OTHERS        15972 non-null  int64
 5   SOCIAL_NETWORK           15972 non-null  int64
 6   ACHIEVEMENT              15972 non-null  int64
 7   DONATION                 15972 non-null  int64
 8   BMI_RANGE                15972 non-null  int64
 9   TODO_COMPLETED           15972 non-null  int64
 10  FLOW                     15972 non-null  int64
 11  DAILY_STEPS              15972 non-null  int64
 12  LIVE_VISION              15972 non-null  int64
 13  SLEEP_HOURS              15972 non-null  int64
 14  LOST_VACATION            15972 non-null  int64
 15  DAILY_SHOUTING           15972 non-null  int64
 16  SUFFICIENT_INCOME        15972 non-null  int64
 17  PERSONAL_AWARDS          15972 non-null  int64
 18  TIME_FOR_PASSION         15972 non-null  int64
 19  WEEKLY_MEDITATION        15972 non-null  int64
 20  AGE                      15972 non-null  object
 21  GENDER                   15972 non-null  object
 22  WORK_LIFE_BALANCE_SCORE  15972 non-null  float64
 23  Employee_ID              15972 non-null  int64
dtypes: float64(1), int64(20), object(3)
memory usage: 2.9+ MB
None

,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,TODO_COMPLETED,...,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE,Employee_ID
0,3,2,2,5,0,5,2,0,1,6,...,5,5,1,4,0,5,36 to 50,F,609.5,0
1,2,3,4,3,8,10,5,2,2,5,...,2,2,2,3,2,6,36 to 50,F,655.6,0
2,2,3,3,4,4,10,3,2,2,2,...,10,2,2,4,8,3,36 to 50,F,631.6,0
3,3,3,10,3,10,7,2,5,2,3,...,7,5,1,5,2,0,51 or more,F,622.7,0
4,5,1,3,3,10,4,2,4,2,5,...,0,0,2,8,1,5,51 or more,F,663.9,0

### Data Preparation

#### Attrition Data

In [9]:
for i in np.arange(1,312):
    attrition = attrition_data.where(attrition_data.Age_Group==hr_data.loc[i,'Age_Group']).dropna()
    attrition = attrition.where(attrition.Gender==hr_data.loc[i,'Sex']).dropna()
    index = attrition.index.tolist()
    flag = 0
    while flag == 0:
        rand_idx = random.choice(index)
        if attrition_data.iloc[rand_idx,-2] == 0:
            attrition_data.iloc[rand_idx,-2] = i
            flag = 1
        elif len(index)>0:
            index.remove(rand_idx)
        else:
            flag = 1
attrition = attrition_data.where(attrition_data.Employee_ID!=0).dropna()
attrition.set_index('Employee_ID',inplace=True)
attrition.to_csv('./../dataset/attrition_data.csv')

#### Lifestyle Data

In [10]:
for i in np.arange(1,312):
    lifestyle = lifestyle_data.where(lifestyle_data.AGE==hr_data.loc[i,'Age_Group']).dropna()
    lifestyle = lifestyle.where(lifestyle.GENDER==hr_data.loc[i,'Sex']).dropna()
    index = lifestyle.index.tolist()
    count = 0
    while flag == 0 and count <25 and len(index) > 0: 
        rand_idx = random.choice(index)
        if lifestyle_data.iloc[rand_idx,-1] == -1:
            lifestyle_data.iloc[rand_idx,-1] = i
            index.remove(rand_idx)
            count += 1
        elif lifestyle_data.iloc[rand_idx,-1] != -1:
            index.remove(rand_idx)
        elif len(index)==0:
            break
lifestyle = lifestyle_data.where(lifestyle_data.Employee_ID!=0).dropna()
lifestyle.set_index('Employee_ID',inplace=True)
lifestyle.to_csv('./../dataset/lifestyle_data.csv')

### Data Exploration Post Processing

#### Attrition Data

In [11]:
print("\nEmployee Attrition Data Info:")
print(attrition.info())
attrition.head(5)

Employee Attrition Data Info:
<class 'pandas.core.frame.DataFrame'>
Float64Index: 311 entries, 116.0 to 158.0
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       311 non-null    float64
 1   Attrition                 311 non-null    object
 2   BusinessTravel            311 non-null    object
 3   DistanceFromHome          311 non-null    float64
 4   Education                 311 non-null    float64
 5   EducationField            311 non-null    object
 6   EnvironmentSatisfaction   311 non-null    float64
 7   Gender                    311 non-null    object
 8   JobInvolvement            311 non-null    float64
 9   JobLevel                  311 non-null    float64
 10  JobSatisfaction           311 non-null    float64
 11  NumCompaniesWorked        311 non-null    float64
 12  OverTime                  311 non-null    object
 13  PercentSalaryHike         311 non-null    float64
 14  PerformanceRating         311 non-null    float64
 15  RelationshipSatisfaction  311 non-null    float64
 16  StockOptionLevel          311 non-null    float64
 17  TrainingTimesLastYear     311 non-null    float64
 18  WorkLifeBalance           311 non-null    float64
 19  YearsAtCompany            311 non-null    float64
 20  YearsInCurrentRole        311 non-null    float64
 21  YearsSinceLastPromotion   311 non-null    float64
 22  YearsWithCurrManager      311 non-null    float64
 23  Age_Group                 311 non-null    object
dtypes: float64(18), object(6)
memory usage: 60.7+ KB
None

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Age_Group
Employee_ID,,,,,,,,,,,,,,,,,,,,,
116.0,37.0,Yes,Travel_Rarely,2.0,2.0,Other,4.0,M,2.0,1.0,...,3.0,2.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,36 to 50
211.0,27.0,No,Travel_Rarely,2.0,1.0,Medical,1.0,M,3.0,1.0,...,3.0,4.0,1.0,3.0,3.0,2.0,2.0,2.0,2.0,21 to 35
18.0,59.0,No,Travel_Rarely,3.0,3.0,Medical,3.0,F,4.0,1.0,...,4.0,1.0,3.0,3.0,2.0,1.0,0.0,0.0,0.0,51 or more
258.0,38.0,No,Travel_Frequently,23.0,3.0,Life Sciences,4.0,M,2.0,3.0,...,4.0,2.0,0.0,2.0,3.0,9.0,7.0,1.0,8.0,36 to 50
238.0,35.0,No,Travel_Rarely,16.0,3.0,Medical,1.0,M,4.0,1.0,...,3.0,3.0,1.0,5.0,3.0,5.0,4.0,0.0,3.0,21 to 35

#### Lifestyle Data

In [12]:
print("\nEmployee Lifestyle and Nutrition Data Info:")
print(lifestyle.info())
lifestyle.head(5)

Employee Lifestyle and Nutrition Data Info:
<class 'pandas.core.frame.DataFrame'>
Float64Index: 0 entries
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FRUITS_VEGGIES           0 non-null      float64
 1   DAILY_STRESS             0 non-null      object
 2   PLACES_VISITED           0 non-null      float64
 3   CORE_CIRCLE              0 non-null      float64
 4   SUPPORTING_OTHERS        0 non-null      float64
 5   SOCIAL_NETWORK           0 non-null      float64
 6   ACHIEVEMENT              0 non-null      float64
 7   DONATION                 0 non-null      float64
 8   BMI_RANGE                0 non-null      float64
 9   TODO_COMPLETED           0 non-null      float64
 10  FLOW                     0 non-null      float64
 11  DAILY_STEPS              0 non-null      float64
 12  LIVE_VISION              0 non-null      float64
 13  SLEEP_HOURS              0 non-null      float64
 14  LOST_VACATION            0 non-null      float64
 15  DAILY_SHOUTING           0 non-null      float64
 16  SUFFICIENT_INCOME        0 non-null      float64
 17  PERSONAL_AWARDS          0 non-null      float64
 18  TIME_FOR_PASSION         0 non-null      float64
 19  WEEKLY_MEDITATION        0 non-null      float64
 20  AGE                      0 non-null      object
 21  GENDER                   0 non-null      object
 22  WORK_LIFE_BALANCE_SCORE  0 non-null      float64
dtypes: float64(20), object(3)
memory usage: 0.0+ bytes
None

Empty DataFrame
Columns: [FRUITS_VEGGIES, DAILY_STRESS, PLACES_VISITED, CORE_CIRCLE, SUPPORTING_OTHERS, SOCIAL_NETWORK, ACHIEVEMENT, DONATION, BMI_RANGE, TODO_COMPLETED, FLOW, DAILY_STEPS, LIVE_VISION, SLEEP_HOURS, LOST_VACATION, DAILY_SHOUTING, SUFFICIENT_INCOME, PERSONAL_AWARDS, TIME_FOR_PASSION, WEEKLY_MEDITATION, AGE, GENDER, WORK_LIFE_BALANCE_SCORE]
Index: []

[0 rows x 23 columns]