# WellSAP

### Library Imports

In [48]:
import pandas as pd
from statistics import harmonic_mean
import math

### Data Loading

In [49]:
data=pd.read_csv("lifestyle_data.csv")
data=data[['LIVE_VISION','ACHIEVEMENT','SUFFICIENT_INCOME','PERSONAL_AWARDS']]
data.head()

   LIVE_VISION  ACHIEVEMENT  SUFFICIENT_INCOME  PERSONAL_AWARDS
0          0.0          2.0                1.0              4.0
1          5.0          5.0                2.0              3.0
2          5.0          3.0                2.0              4.0
3          5.0          5.0                2.0             10.0
4          2.0          1.0                2.0              4.0

### Scaling data between 0 to 100

In [50]:
data['LIVE_VISION']=(data['LIVE_VISION']/10)*100
data['ACHIEVEMENT']=(data['ACHIEVEMENT']/10)*100
data['PERSONAL_AWARDS']=(data['PERSONAL_AWARDS']/10)*100
data['SUFFICIENT_INCOME']=((data['SUFFICIENT_INCOME']-1)/2)*100
data.head()

   LIVE_VISION  ACHIEVEMENT  SUFFICIENT_INCOME  PERSONAL_AWARDS
0          0.0         20.0                0.0             40.0
1         50.0         50.0               50.0             30.0
2         50.0         30.0               50.0             40.0
3         50.0         50.0               50.0            100.0
4         20.0         10.0               50.0             40.0

### Average Subjective Wellness Score

In [51]:
dict=data.mean().to_dict()
if(dict['LIVE_VISION']==0 or dict['SUFFICIENT_INCOME']==0 or dict['ACHIEVEMENT']==0 or dict['PERSONAL_AWARDS']==0):
        dict['LIVE_VISION']=dict['LIVE_VISION']+1
        dict['SUFFICIENT_INCOME']=dict['SUFFICIENT_INCOME']+1
        dict['ACHIEVEMENT']=dict['ACHIEVEMENT']+1
        dict['PERSONAL_AWARDS']=dict['PERSONAL_AWARDS']+1
        sum=math.log10(dict['LIVE_VISION']) + math.log10(dict['SUFFICIENT_INCOME']) + math.log10(dict['ACHIEVEMENT'])+ math.log10(dict['PERSONAL_AWARDS'])       
        gm=sum/4
        gm=math.pow(10,gm)
        am=(dict['LIVE_VISION']+dict['SUFFICIENT_INCOME']+dict['ACHIEVEMENT']+dict['PERSONAL_AWARDS'])/4
        hm=(gm*gm)/am
else:
        hm=harmonic_mean([dict['LIVE_VISION'],dict['SUFFICIENT_INCOME'],dict['ACHIEVEMENT'],dict['PERSONAL_AWARDS']])    

print("Average Subjective Wellness Score:",hm)

Average Subjective Wellness Score: 40.871111196091505