# WellSAP

### Library Imports

In [1]:
import pandas as pd
from statistics import harmonic_mean
import math

### Data Loading

In [3]:
data=pd.read_csv("./../dataset/lifestyle_data.csv")
data=data[['LIVE_VISION','ACHIEVEMENT','SUFFICIENT_INCOME','PERSONAL_AWARDS']]
data.head()

   LIVE_VISION  ACHIEVEMENT  SUFFICIENT_INCOME  PERSONAL_AWARDS
0          0.0          2.0                1.0              4.0
1          5.0          5.0                2.0              3.0
2          5.0          3.0                2.0              4.0
3          5.0          5.0                2.0             10.0
4          2.0          1.0                2.0              4.0

### Scaling data between 0 to 100

In [4]:
data['LIVE_VISION']=(data['LIVE_VISION']/10)*100
data['ACHIEVEMENT']=(data['ACHIEVEMENT']/10)*100
data['PERSONAL_AWARDS']=(data['PERSONAL_AWARDS']/10)*100
data['SUFFICIENT_INCOME']=(data['SUFFICIENT_INCOME']/2)*100
data.head()

   LIVE_VISION  ACHIEVEMENT  SUFFICIENT_INCOME  PERSONAL_AWARDS
0          0.0         20.0               50.0             40.0
1         50.0         50.0              100.0             30.0
2         50.0         30.0              100.0             40.0
3         50.0         50.0              100.0            100.0
4         20.0         10.0              100.0             40.0

### Average Subjective Wellness Score

In [5]:
dict=data.mean().to_dict()
if(dict['LIVE_VISION']==0 or dict['SUFFICIENT_INCOME']==0 or dict['ACHIEVEMENT']==0 or dict['PERSONAL_AWARDS']==0):
        sum = (math.log(dict['LIVE_VISION']+1)+math.log(dict['SUFFICIENT_INCOME']+1)+math.log(dict['ACHIEVEMENT']+1)+math.log(dict['PERSONAL_AWARDS']+1))/4
        gm=math.pow(10,sum)-1
        am=(dict['LIVE_VISION']+dict['SUFFICIENT_INCOME']+dict['ACHIEVEMENT']+dict['PERSONAL_AWARDS'])/4
        hm=(gm*gm)/am
else:
        hm=harmonic_mean([dict['LIVE_VISION'],dict['SUFFICIENT_INCOME'],dict['ACHIEVEMENT'],dict['PERSONAL_AWARDS']])    

print("Average Subjective Wellness Score:",hm)

Average Subjective Wellness Score: 48.88504090599943