# WellSAP

## Workplace WellBeing Employee Satisafaction Training

### Imports

In [1]:
import pandas  as pd
import numpy as np
import sklearn
from sklearn import preprocessing
import joblib

### Data Loading

In [2]:
hr_data=pd.read_csv('./../dataset/hr_data.csv',header=0, index_col='Employee_ID')
attrition_data=pd.read_csv('./../dataset/attrition_data.csv',header=0, index_col='Employee_ID')

hr_data=hr_data[['Age_Group','PerfScoreID','SpecialProjectsCount','DaysLateLast30','Absences','Salary','EngagementSurvey','EmpSatisfaction']]
attrition_data=attrition_data[['Age_Group','Gender','PercentSalaryHike','PerformanceRating','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager','JobSatisfaction','StockOptionLevel','TrainingTimesLastYear','JobLevel','OverTime','NumCompaniesWorked']]

### Data Pre-Processing

In [3]:
result = pd.merge(hr_data, attrition_data, on=['Employee_ID','Age_Group'])
result

,Age_Group,PerfScoreID,SpecialProjectsCount,DaysLateLast30,Absences,Salary,EngagementSurvey,EmpSatisfaction,Gender,PercentSalaryHike,...,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,JobSatisfaction,StockOptionLevel,TrainingTimesLastYear,JobLevel,OverTime,NumCompaniesWorked
Employee_ID,,,,,,,,,,,,,,,,,,,,,
1.0,21 to 35,4,0,0,1,62506,4.60,5,M,14.0,...,4.0,2.0,0.0,3.0,3.0,0.0,4.0,1.0,Yes,5.0
2.0,36 to 50,3,6,0,17,104437,4.96,3,M,17.0,...,16.0,8.0,4.0,11.0,4.0,1.0,2.0,2.0,Yes,0.0
3.0,21 to 35,3,0,0,3,64955,3.02,3,F,19.0,...,5.0,3.0,1.0,3.0,1.0,2.0,3.0,2.0,No,2.0
4.0,21 to 35,3,0,0,15,64991,4.84,5,F,17.0,...,5.0,3.0,1.0,2.0,3.0,1.0,2.0,1.0,No,9.0
5.0,21 to 35,3,0,0,2,50825,5.00,4,F,12.0,...,14.0,13.0,6.0,8.0,3.0,1.0,3.0,2.0,No,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307.0,21 to 35,3,0,0,13,65893,4.07,4,M,14.0,...,10.0,4.0,0.0,9.0,3.0,0.0,2.0,2.0,No,1.0
308.0,21 to 35,1,0,5,4,48513,3.20,2,F,15.0,...,6.0,3.0,0.0,1.0,1.0,0.0,5.0,2.0,No,5.0
309.0,36 to 50,4,6,0,16,220450,4.60,5,F,13.0,...,17.0,14.0,12.0,8.0,3.0,3.0,2.0,3.0,No,1.0
310.0,36 to 50,3,5,0,11,89292,5.00,3,F,11.0,...,8.0,4.0,7.0,7.0,2.0,1.0,2.0,1.0,No,1.0
311.0,36 to 50,3,0,0,2,45046,4.50,5,F,17.0,...,8.0,7.0,0.0,7.0,3.0,0.0,3.0,2.0,Yes,2.0

In [4]:
age_encoder= preprocessing.LabelEncoder()
result['Age_Group'] = age_encoder.fit_transform(result['Age_Group'])
joblib.dump(age_encoder,'./../scaler_and _encoder/emp_satisfaction_age_encoder.pkl')

gender_encoder = preprocessing.LabelEncoder()
result['Gender'] = gender_encoder.fit_transform(result['Gender'])
joblib.dump(gender_encoder,'./../scaler_and _encoder/emp_satisfaction_gender_encoder.pkl')

overtime_encoder=preprocessing.LabelEncoder()
result['OverTime'] = overtime_encoder.fit_transform(result['OverTime'])
joblib.dump(overtime_encoder,'./../scaler_and _encoder/emp_satisfaction_overtime_encoder.pkl')

result[['Age_Group','Gender','OverTime', 'PerfScoreID', 'EmpSatisfaction', 'JobSatisfaction', 'StockOptionLevel', 'JobLevel']]=result[['Age_Group','Gender','OverTime', 'PerfScoreID', 'EmpSatisfaction', 'JobSatisfaction', 'StockOptionLevel', 'JobLevel']].astype('category')

print(result.info())
result

<class 'pandas.core.frame.DataFrame'>
Float64Index: 311 entries, 1.0 to 311.0
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age_Group                311 non-null    category
 1   PerfScoreID              311 non-null    category
 2   SpecialProjectsCount     311 non-null    int64
 3   DaysLateLast30           311 non-null    int64
 4   Absences                 311 non-null    int64
 5   Salary                   311 non-null    int64
 6   EngagementSurvey         311 non-null    float64
 7   EmpSatisfaction          311 non-null    category
 8   Gender                   311 non-null    category
 9   PercentSalaryHike        311 non-null    float64
 10  PerformanceRating        311 non-null    float64
 11  YearsAtCompany           311 non-null    float64
 12  YearsInCurrentRole       311 non-null    float64
 13  YearsSinceLastPromotion  311 non-null    float64
 14  YearsWithCurrManager     311 non-null    float64
 15  JobSatisfaction          311 non-null    category
 16  StockOptionLevel         311 non-null    category
 17  TrainingTimesLastYear    311 non-null    float64
 18  JobLevel                 311 non-null    category
 19  OverTime                 311 non-null    category
 20  NumCompaniesWorked       311 non-null    float64
dtypes: category(8), float64(9), int64(4)
memory usage: 37.8 KB
None

,Age_Group,PerfScoreID,SpecialProjectsCount,DaysLateLast30,Absences,Salary,EngagementSurvey,EmpSatisfaction,Gender,PercentSalaryHike,...,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,JobSatisfaction,StockOptionLevel,TrainingTimesLastYear,JobLevel,OverTime,NumCompaniesWorked
Employee_ID,,,,,,,,,,,,,,,,,,,,,
1.0,0,4,0,0,1,62506,4.60,5,1,14.0,...,4.0,2.0,0.0,3.0,3.0,0.0,4.0,1.0,1,5.0
2.0,1,3,6,0,17,104437,4.96,3,1,17.0,...,16.0,8.0,4.0,11.0,4.0,1.0,2.0,2.0,1,0.0
3.0,0,3,0,0,3,64955,3.02,3,0,19.0,...,5.0,3.0,1.0,3.0,1.0,2.0,3.0,2.0,0,2.0
4.0,0,3,0,0,15,64991,4.84,5,0,17.0,...,5.0,3.0,1.0,2.0,3.0,1.0,2.0,1.0,0,9.0
5.0,0,3,0,0,2,50825,5.00,4,0,12.0,...,14.0,13.0,6.0,8.0,3.0,1.0,3.0,2.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307.0,0,3,0,0,13,65893,4.07,4,1,14.0,...,10.0,4.0,0.0,9.0,3.0,0.0,2.0,2.0,0,1.0
308.0,0,1,0,5,4,48513,3.20,2,0,15.0,...,6.0,3.0,0.0,1.0,1.0,0.0,5.0,2.0,0,5.0
309.0,1,4,6,0,16,220450,4.60,5,0,13.0,...,17.0,14.0,12.0,8.0,3.0,3.0,2.0,3.0,0,1.0
310.0,1,3,5,0,11,89292,5.00,3,0,11.0,...,8.0,4.0,7.0,7.0,2.0,1.0,2.0,1.0,0,1.0
311.0,1,3,0,0,2,45046,4.50,5,0,17.0,...,8.0,7.0,0.0,7.0,3.0,0.0,3.0,2.0,1,2.0

### Input Output Split

In [5]:
y=result['EmpSatisfaction']
X=result.drop(['EmpSatisfaction'],axis='columns')

### Data Preparation

In [6]:
from sklearn.preprocessing import StandardScaler
columns = ['Absences', 'Salary', 'PercentSalaryHike', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager', 'NumCompaniesWorked']
scaler = StandardScaler()
X[columns]=scaler.fit_transform(X[columns])
joblib.dump(scaler,'./../scaler_and _encoder/emp_scaler.pkl')

['./../scaler_and _encoder/emp_scaler.pkl']

In [7]:
y

Employee_ID
1.0      5
2.0      3
3.0      3
4.0      5
5.0      4
        ..
307.0    4
308.0    2
309.0    5
310.0    3
311.0    5
Name: EmpSatisfaction, Length: 311, dtype: category
Categories (5, int64): [1, 2, 3, 4, 5]

### Data Modelling

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state = 42)

In [9]:
from sklearn.svm import SVC
svm_classifier=SVC(kernel='poly',degree=4)
svm_classifier.fit(X_train,y_train)
print (svm_classifier.score(X_train, y_train))
print (svm_classifier.score(X_test, y_test))
joblib.dump(svm_classifier,'./../models/workplace_wellbeing_emp_satisfaction.pkl')

0.7259615384615384
0.3592233009708738

['./../models/workplace_wellbeing_emp_satisfaction.pkl']

### Scaling Output to 1-100

In [10]:
y = y.astype('int')*100/5
y

Employee_ID
1.0      100.0
2.0       60.0
3.0       60.0
4.0      100.0
5.0       80.0
         ...
307.0     80.0
308.0     40.0
309.0    100.0
310.0     60.0
311.0    100.0
Name: EmpSatisfaction, Length: 311, dtype: float64