# WellSAP

# Workplace WellBeing Employee Environment Satisafaction Training

# Imports

In [85]:
import pandas  as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn import preprocessing
import joblib

# Data Loading

In [86]:
hr_data=pd.read_csv('hr_dataset.csv',header=0, index_col='Employee_ID')
attrition_data=pd.read_csv('attrition_data.csv',header=0, index_col='Employee_ID')

# Data Pre-Processing

In [87]:
hr_data=hr_data[['Age_Group','FromDiversityJobFairID','CitizenDesc','HispanicLatino','RaceDesc']]
attrition_data=attrition_data[['Age_Group','Gender','Attrition','BusinessTravel','DistanceFromHome','JobInvolvement','EnvironmentSatisfaction']]
result = pd.merge(hr_data, attrition_data, on=['Employee_ID','Age_Group'])
print(result.head())

            Age_Group  FromDiversityJobFairID CitizenDesc HispanicLatino  \
Employee_ID
1            21 to 35                       0  US Citizen             No
2            36 to 50                       0  US Citizen             No
3            21 to 35                       0  US Citizen             No
4            21 to 35                       0  US Citizen             No
5            21 to 35                       0  US Citizen             No

            RaceDesc Gender Attrition     BusinessTravel  DistanceFromHome  \
Employee_ID
1              White      M       Yes      Travel_Rarely              15.0
2              White      M        No  Travel_Frequently               1.0
3              White      F       Yes  Travel_Frequently              22.0
4              White      F        No      Travel_Rarely               8.0
5              White      F       Yes  Travel_Frequently               3.0

             JobInvolvement  EnvironmentSatisfaction
Employee_ID
1                       1.0                      1.0
2                       1.0                      3.0
3                       2.0                      1.0
4                       4.0                      2.0
5                       3.0                      4.0

In [88]:
age_encoder= preprocessing.LabelEncoder()
result['Age_Group'] = age_encoder.fit_transform(result['Age_Group'])

gender_encoder = preprocessing.LabelEncoder()
result['Gender'] = gender_encoder.fit_transform(result['Gender'])


job_diversity_encoder=preprocessing.LabelEncoder()
result['FromDiversityJobFairID'] = job_diversity_encoder.fit_transform(result['FromDiversityJobFairID'])

citi_encoder=preprocessing.LabelEncoder()
result['CitizenDesc'] = citi_encoder.fit_transform(result['CitizenDesc'])

his_encoder=preprocessing.LabelEncoder()
result['HispanicLatino'] =his_encoder.fit_transform(result['HispanicLatino'])

his_encoder=preprocessing.LabelEncoder()
result['HispanicLatino'] =his_encoder.fit_transform(result['HispanicLatino'])

res_encoder=preprocessing.LabelEncoder()
result['RaceDesc'] =his_encoder.fit_transform(result['RaceDesc'])

attri_encoder=preprocessing.LabelEncoder()
result['Attrition'] =attri_encoder.fit_transform(result['Attrition'])

busi_encoder=preprocessing.LabelEncoder()
result['BusinessTravel'] =busi_encoder.fit_transform(result['BusinessTravel'])

result[['EnvironmentSatisfaction','Age_Group','Gender','FromDiversityJobFairID','CitizenDesc','HispanicLatino','RaceDesc','Attrition','BusinessTravel']]=result[['EnvironmentSatisfaction','Age_Group','Gender','FromDiversityJobFairID','CitizenDesc','HispanicLatino','RaceDesc','Attrition','BusinessTravel']].astype('category')

result.info()
result

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 1 to 311
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age_Group                311 non-null    category
 1   FromDiversityJobFairID   311 non-null    category
 2   CitizenDesc              311 non-null    category
 3   HispanicLatino           311 non-null    category
 4   RaceDesc                 311 non-null    category
 5   Gender                   311 non-null    category
 6   Attrition                311 non-null    category
 7   BusinessTravel           311 non-null    category
 8   DistanceFromHome         311 non-null    float64
 9   JobInvolvement           311 non-null    float64
 10  EnvironmentSatisfaction  311 non-null    category
dtypes: category(9), float64(2)
memory usage: 11.2 KB

,Age_Group,FromDiversityJobFairID,CitizenDesc,HispanicLatino,RaceDesc,Gender,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,EnvironmentSatisfaction
Employee_ID,,,,,,,,,,,
1,0,0,2,0,5,1,1,2,15.0,1.0,1.0
2,1,0,2,0,5,1,0,1,1.0,1.0,3.0
3,0,0,2,0,5,0,1,1,22.0,2.0,1.0
4,0,0,2,0,5,0,0,2,8.0,4.0,2.0
5,0,0,2,0,5,0,1,1,3.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
307,0,0,2,0,5,1,0,1,2.0,3.0,4.0
308,0,0,2,0,1,0,0,0,25.0,3.0,4.0
309,1,0,2,0,5,0,0,1,27.0,3.0,3.0
310,1,0,2,0,5,0,1,2,2.0,1.0,1.0
311,1,0,2,0,1,0,0,2,2.0,2.0,2.0

# Input Output Split

In [89]:
y=result['EnvironmentSatisfaction']
X=result.drop(['EnvironmentSatisfaction'],axis='columns')

# Data Preparation

In [90]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
columns=['JobInvolvement','DistanceFromHome']
X[columns]=scaler.fit_transform(X[columns])

# Data Modelling

In [91]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state = 0)
from sklearn.svm import SVC
sv=SVC()
sv.fit(X_train,y_train)
print (sv.score(X_train, y_train))
accuracy2 = sv.score(X_test, y_test)
print (accuracy2)
joblib.dump(sv,'workplace_wellbeing_env_satisfaction.pkl')

0.35096153846153844
0.3300970873786408

['workplace_wellbeing_env_satisfaction.pkl']