# WellSAP

## Workplace WellBeing Employee Satisafaction Training

### Imports

In [100]:
import pandas  as pd
import seaborn as sns
import numpy as np
import sklearn
from sklearn import preprocessing
import joblib

### Data Loading

In [101]:
hr_data=pd.read_csv('./../dataset/hr_dataset.csv',header=0, index_col='Employee_ID')
attrition_data=pd.read_csv('./../dataset/attrition_data.csv',header=0, index_col='Employee_ID')

hr_data=hr_data[['Age_Group','PerfScoreID','SpecialProjectsCount','DaysLateLast30','Absences','Salary','EngagementSurvey','EmpSatisfaction']]
attrition_data=attrition_data[['Age_Group','Gender','PercentSalaryHike','PerformanceRating','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager','JobSatisfaction','StockOptionLevel','TrainingTimesLastYear','JobLevel','OverTime','NumCompaniesWorked']]
result = pd.merge(hr_data, attrition_data, on=['Employee_ID','Age_Group'])
result

,Age_Group,PerfScoreID,SpecialProjectsCount,DaysLateLast30,Absences,Salary,EngagementSurvey,EmpSatisfaction,Gender,PercentSalaryHike,...,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,JobSatisfaction,StockOptionLevel,TrainingTimesLastYear,JobLevel,OverTime,NumCompaniesWorked
Employee_ID,,,,,,,,,,,,,,,,,,,,,
1,21 to 35,4,0,0,1,62506,4.60,5,M,14.0,...,2.0,2.0,2.0,2.0,4.0,2.0,2.0,2.0,Yes,6.0
2,36 to 50,3,6,0,17,104437,4.96,3,M,14.0,...,6.0,3.0,1.0,3.0,4.0,2.0,2.0,2.0,No,1.0
3,21 to 35,3,0,0,3,64955,3.02,3,F,12.0,...,1.0,0.0,0.0,0.0,2.0,0.0,2.0,1.0,No,1.0
4,21 to 35,3,0,0,15,64991,4.84,5,F,12.0,...,8.0,7.0,1.0,7.0,1.0,3.0,4.0,3.0,Yes,0.0
5,21 to 35,3,0,0,2,50825,5.00,4,F,12.0,...,7.0,2.0,7.0,7.0,3.0,0.0,2.0,1.0,No,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,21 to 35,3,0,0,13,65893,4.07,4,M,13.0,...,4.0,2.0,1.0,2.0,4.0,0.0,0.0,1.0,No,2.0
308,21 to 35,1,0,5,4,48513,3.20,2,F,12.0,...,2.0,2.0,2.0,2.0,3.0,1.0,2.0,2.0,Yes,7.0
309,36 to 50,4,6,0,16,220450,4.60,5,F,11.0,...,8.0,7.0,0.0,1.0,1.0,1.0,1.0,3.0,No,8.0
310,36 to 50,3,5,0,11,89292,5.00,3,F,16.0,...,24.0,10.0,1.0,11.0,2.0,0.0,2.0,5.0,Yes,2.0
311,36 to 50,3,0,0,2,45046,4.50,5,F,22.0,...,1.0,0.0,0.0,0.0,3.0,1.0,3.0,2.0,No,6.0

### Data Pre-Processing

In [102]:
age_encoder= preprocessing.LabelEncoder()
result['Age_Group'] = age_encoder.fit_transform(result['Age_Group'])
joblib.dump(age_encoder,'./../scaler_and _encoder/emp_satisfaction_age_encoder.pkl')

gender_encoder = preprocessing.LabelEncoder()
result['Gender'] = gender_encoder.fit_transform(result['Gender'])
joblib.dump(gender_encoder,'./../scaler_and _encoder/emp_satisfaction_gender_encoder.pkl')

overtime_encoder=preprocessing.LabelEncoder()
result['OverTime'] = overtime_encoder.fit_transform(result['OverTime'])
joblib.dump(overtime_encoder,'./../scaler_and _encoder/emp_satisfaction_overtime_encoder.pkl')

result[['Age_Group','Gender','OverTime', 'PerfScoreID','PerformanceRating', 'EmpSatisfaction', 'JobSatisfaction', 'StockOptionLevel', 'JobLevel']]=result[['Age_Group','Gender','OverTime', 'PerfScoreID','PerformanceRating', 'EmpSatisfaction', 'JobSatisfaction', 'StockOptionLevel', 'JobLevel']].astype('category')

print(result.info())
result

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 1 to 311
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age_Group                311 non-null    category
 1   PerfScoreID              311 non-null    category
 2   SpecialProjectsCount     311 non-null    int64
 3   DaysLateLast30           311 non-null    int64
 4   Absences                 311 non-null    int64
 5   Salary                   311 non-null    int64
 6   EngagementSurvey         311 non-null    float64
 7   EmpSatisfaction          311 non-null    category
 8   Gender                   311 non-null    category
 9   PercentSalaryHike        311 non-null    float64
 10  PerformanceRating        311 non-null    category
 11  YearsAtCompany           311 non-null    float64
 12  YearsInCurrentRole       311 non-null    float64
 13  YearsSinceLastPromotion  311 non-null    float64
 14  YearsWithCurrManager     311 non-null    float64
 15  JobSatisfaction          311 non-null    category
 16  StockOptionLevel         311 non-null    category
 17  TrainingTimesLastYear    311 non-null    float64
 18  JobLevel                 311 non-null    category
 19  OverTime                 311 non-null    category
 20  NumCompaniesWorked       311 non-null    float64
dtypes: category(9), float64(8), int64(4)
memory usage: 35.7 KB
None

,Age_Group,PerfScoreID,SpecialProjectsCount,DaysLateLast30,Absences,Salary,EngagementSurvey,EmpSatisfaction,Gender,PercentSalaryHike,...,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,JobSatisfaction,StockOptionLevel,TrainingTimesLastYear,JobLevel,OverTime,NumCompaniesWorked
Employee_ID,,,,,,,,,,,,,,,,,,,,,
1,0,4,0,0,1,62506,4.60,5,1,14.0,...,2.0,2.0,2.0,2.0,4.0,2.0,2.0,2.0,1,6.0
2,1,3,6,0,17,104437,4.96,3,1,14.0,...,6.0,3.0,1.0,3.0,4.0,2.0,2.0,2.0,0,1.0
3,0,3,0,0,3,64955,3.02,3,0,12.0,...,1.0,0.0,0.0,0.0,2.0,0.0,2.0,1.0,0,1.0
4,0,3,0,0,15,64991,4.84,5,0,12.0,...,8.0,7.0,1.0,7.0,1.0,3.0,4.0,3.0,1,0.0
5,0,3,0,0,2,50825,5.00,4,0,12.0,...,7.0,2.0,7.0,7.0,3.0,0.0,2.0,1.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,0,3,0,0,13,65893,4.07,4,1,13.0,...,4.0,2.0,1.0,2.0,4.0,0.0,0.0,1.0,0,2.0
308,0,1,0,5,4,48513,3.20,2,0,12.0,...,2.0,2.0,2.0,2.0,3.0,1.0,2.0,2.0,1,7.0
309,1,4,6,0,16,220450,4.60,5,0,11.0,...,8.0,7.0,0.0,1.0,1.0,1.0,1.0,3.0,0,8.0
310,1,3,5,0,11,89292,5.00,3,0,16.0,...,24.0,10.0,1.0,11.0,2.0,0.0,2.0,5.0,1,2.0
311,1,3,0,0,2,45046,4.50,5,0,22.0,...,1.0,0.0,0.0,0.0,3.0,1.0,3.0,2.0,0,6.0

### Input Output Split

In [103]:
y=result['EmpSatisfaction']
X=result.drop(['EmpSatisfaction'],axis='columns')

### Data Preparation

In [104]:
from sklearn.preprocessing import MinMaxScaler
columns = ['DaysLateLast30','Absences','Salary','EngagementSurvey','PercentSalaryHike','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager', 'NumCompaniesWorked','TrainingTimesLastYear']
scaler = MinMaxScaler()
X[columns]=scaler.fit_transform(X[columns])
joblib.dump(scaler,'./../scaler_and _encoder/scaler_emp_satisfaction.pkl')

### Data Modelling

In [105]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state = 42)
X_train

,Age_Group,PerfScoreID,SpecialProjectsCount,DaysLateLast30,Absences,Salary,EngagementSurvey,Gender,PercentSalaryHike,PerformanceRating,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,JobSatisfaction,StockOptionLevel,TrainingTimesLastYear,JobLevel,OverTime,NumCompaniesWorked
Employee_ID,,,,,,,,,,,,,,,,,,,,
110,0,3,7,0.0,1.000000,0.144584,0.819588,1,0.142857,3.0,0.303030,0.529412,0.000000,0.470588,4.0,1.0,0.333333,3.0,0,0.666667
248,1,3,0,0.0,0.315789,0.006743,0.896907,1,0.285714,3.0,0.272727,0.470588,0.333333,0.470588,4.0,1.0,0.333333,2.0,1,0.111111
235,1,3,0,0.0,0.631579,0.051387,0.793814,1,0.857143,4.0,0.151515,0.176471,0.000000,0.176471,1.0,0.0,0.666667,1.0,0,0.777778
203,0,3,0,0.0,0.052632,0.090991,1.000000,0,0.000000,3.0,0.272727,0.411765,0.533333,0.294118,4.0,2.0,0.333333,2.0,1,0.000000
79,1,3,0,0.0,0.157895,0.147067,0.876289,0,0.000000,3.0,0.151515,0.235294,0.000000,0.235294,4.0,2.0,0.333333,2.0,0,0.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,0,1,0,1.0,0.263158,0.052470,0.484536,1,0.357143,3.0,0.121212,0.117647,0.133333,0.117647,2.0,1.0,0.333333,1.0,1,0.111111
72,0,3,0,0.0,0.000000,0.030314,0.819588,1,0.214286,3.0,0.090909,0.058824,0.000000,0.117647,3.0,1.0,0.333333,1.0,1,0.111111
107,1,4,0,0.0,0.105263,0.062302,0.716495,0,0.000000,3.0,0.606061,0.411765,0.133333,0.764706,2.0,1.0,0.333333,2.0,0,0.111111
271,0,3,0,0.0,0.894737,0.073548,0.768041,0,0.857143,4.0,0.272727,0.058824,0.000000,0.470588,1.0,2.0,0.333333,3.0,1,0.111111
103,0,3,0,0.0,0.947368,0.030695,0.672680,0,0.071429,3.0,0.242424,0.411765,0.466667,0.411765,4.0,0.0,0.166667,3.0,1,0.000000

In [106]:
from sklearn.svm import SVC
svm_classifier=SVC(gamma=.03095432,C=1)
svm_classifier.fit(X_train,y_train)
print (svm_classifier.score(X_train, y_train))
print (svm_classifier.score(X_test, y_test))
joblib.dump(svm_classifier,'./../models/workplace_wellbeing_emp_satisfaction.pkl')

0.42338709677419356
0.3492063492063492

### Scaling Output Features (0-100)

In [107]:
y = y.astype('int')*100/5
y

Employee_ID
1      100.0
2       60.0
3       60.0
4      100.0
5       80.0
       ...
307     80.0
308     40.0
309    100.0
310     60.0
311    100.0
Name: EmpSatisfaction, Length: 311, dtype: float64