# WellSAP

## Workplace WellBeing Employee Environment Satisafaction Training

### Imports

In [8]:
import pandas  as pd
import sklearn
from sklearn import preprocessing
import joblib

### Data Loading

In [9]:
hr_data=pd.read_csv('./../dataset/hr_data.csv',header=0, index_col='Employee_ID')
attrition_data=pd.read_csv('./../dataset/attrition_data.csv',header=0, index_col='Employee_ID')

### Data Pre-Processing

In [10]:
hr_data=hr_data[['Age_Group','FromDiversityJobFairID','CitizenDesc','HispanicLatino','RaceDesc']]
attrition_data=attrition_data[['Age_Group','Gender','Attrition','BusinessTravel','DistanceFromHome','JobInvolvement','EnvironmentSatisfaction']]
result = pd.merge(hr_data, attrition_data, on=['Employee_ID','Age_Group'])
result

,Age_Group,FromDiversityJobFairID,CitizenDesc,HispanicLatino,RaceDesc,Gender,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,EnvironmentSatisfaction
Employee_ID,,,,,,,,,,,
1,21 to 35,0,US Citizen,No,White,M,Yes,Travel_Rarely,24.0,2.0,3.0
2,36 to 50,0,US Citizen,No,White,M,No,Travel_Rarely,14.0,3.0,3.0
3,21 to 35,0,US Citizen,No,White,F,No,Travel_Frequently,1.0,4.0,3.0
4,21 to 35,0,US Citizen,No,White,F,No,Travel_Rarely,9.0,3.0,4.0
5,21 to 35,0,US Citizen,No,White,F,No,Travel_Rarely,4.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
307,21 to 35,0,US Citizen,No,White,M,No,Travel_Rarely,10.0,3.0,2.0
308,21 to 35,0,US Citizen,No,Asian,F,Yes,Travel_Frequently,26.0,2.0,3.0
309,36 to 50,0,US Citizen,No,White,F,No,Travel_Rarely,8.0,3.0,3.0
310,36 to 50,0,US Citizen,No,White,F,No,Travel_Rarely,10.0,3.0,2.0
311,36 to 50,0,US Citizen,No,Asian,F,No,Non-Travel,2.0,2.0,1.0

In [11]:
age_encoder= preprocessing.LabelEncoder()
result['Age_Group'] = age_encoder.fit_transform(result['Age_Group'])
joblib.dump(age_encoder,'./../scaler_and _encoder/env_age_encoder.pkl')

gender_encoder = preprocessing.LabelEncoder()
result['Gender'] = gender_encoder.fit_transform(result['Gender'])
joblib.dump(gender_encoder,'./../scaler_and _encoder/env_gender_encoder.pkl')


job_diversity_encoder=preprocessing.LabelEncoder()
result['FromDiversityJobFairID'] = job_diversity_encoder.fit_transform(result['FromDiversityJobFairID'])
joblib.dump(job_diversity_encoder,'./../scaler_and _encoder/env_job_diversity_encoder.pkl')


citi_encoder=preprocessing.LabelEncoder()
result['CitizenDesc'] = citi_encoder.fit_transform(result['CitizenDesc'])
joblib.dump(citi_encoder,'./../scaler_and _encoder/env_citizendesc_encoder.pkl')

his_encoder=preprocessing.LabelEncoder()
result['HispanicLatino'] =his_encoder.fit_transform(result['HispanicLatino'])
joblib.dump(his_encoder,'./../scaler_and _encoder/env_citizendesc_encoder.pkl') 

his_encoder=preprocessing.LabelEncoder()
result['HispanicLatino'] =his_encoder.fit_transform(result['HispanicLatino'])
joblib.dump(his_encoder,'./../scaler_and _encoder/env_HispanicLatino_encoder.pkl')

res_encoder=preprocessing.LabelEncoder()
result['RaceDesc'] =his_encoder.fit_transform(result['RaceDesc'])
joblib.dump(res_encoder,'./../scaler_and _encoder/env_racedesc_encoder.pkl')

attri_encoder=preprocessing.LabelEncoder()
result['Attrition'] =attri_encoder.fit_transform(result['Attrition'])
joblib.dump(attri_encoder,'./../scaler_and _encoder/env_attri_encoder.pkl')

busi_encoder=preprocessing.LabelEncoder()
result['BusinessTravel'] =busi_encoder.fit_transform(result['BusinessTravel'])
joblib.dump(busi_encoder,'./../scaler_and _encoder/env_busi_encoder.pkl')

result[['EnvironmentSatisfaction','Age_Group','Gender','FromDiversityJobFairID','CitizenDesc','HispanicLatino','RaceDesc','Attrition','BusinessTravel']]=result[['EnvironmentSatisfaction','Age_Group','Gender','FromDiversityJobFairID','CitizenDesc','HispanicLatino','RaceDesc','Attrition','BusinessTravel']].astype('category')

print(result.info())
result

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 1 to 311
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age_Group                311 non-null    category
 1   FromDiversityJobFairID   311 non-null    category
 2   CitizenDesc              311 non-null    category
 3   HispanicLatino           311 non-null    category
 4   RaceDesc                 311 non-null    category
 5   Gender                   311 non-null    category
 6   Attrition                311 non-null    category
 7   BusinessTravel           311 non-null    category
 8   DistanceFromHome         311 non-null    float64
 9   JobInvolvement           311 non-null    float64
 10  EnvironmentSatisfaction  311 non-null    category
dtypes: category(9), float64(2)
memory usage: 11.2 KB
None

,Age_Group,FromDiversityJobFairID,CitizenDesc,HispanicLatino,RaceDesc,Gender,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,EnvironmentSatisfaction
Employee_ID,,,,,,,,,,,
1,0,0,2,0,5,1,1,2,24.0,2.0,3.0
2,1,0,2,0,5,1,0,2,14.0,3.0,3.0
3,0,0,2,0,5,0,0,1,1.0,4.0,3.0
4,0,0,2,0,5,0,0,2,9.0,3.0,4.0
5,0,0,2,0,5,0,0,2,4.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
307,0,0,2,0,5,1,0,2,10.0,3.0,2.0
308,0,0,2,0,1,0,1,1,26.0,2.0,3.0
309,1,0,2,0,5,0,0,2,8.0,3.0,3.0
310,1,0,2,0,5,0,0,2,10.0,3.0,2.0
311,1,0,2,0,1,0,0,0,2.0,2.0,1.0

### Input Output Split

In [12]:
y=result['EnvironmentSatisfaction']
X=result.drop(['EnvironmentSatisfaction'],axis='columns')

### Data Preparation

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
columns=['JobInvolvement','DistanceFromHome']
joblib.dump(scaler,'./../scaler_and _encoder/env_minmax_scaler.pkl')
X[columns]=scaler.fit_transform(X[columns])
y

Employee_ID
1      3.0
2      3.0
3      3.0
4      4.0
5      3.0
      ...
307    2.0
308    3.0
309    3.0
310    2.0
311    1.0
Name: EnvironmentSatisfaction, Length: 311, dtype: category
Categories (4, float64): [1.0, 2.0, 3.0, 4.0]

### Data Modelling

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state = 0)
from sklearn.svm import SVC
sv=SVC()
sv.fit(X_train,y_train)
print (sv.score(X_train, y_train))
print (sv.score(X_test, y_test))
joblib.dump(sv,'./../models/workplace_wellbeing_env_satisfaction.pkl')

0.34134615384615385
0.34951456310679613

['./../models/workplace_wellbeing_env_satisfaction.pkl']

### Scaling output 0-100

In [17]:
y = y.astype(int)*100/4
y

Employee_ID
1       75.0
2       75.0
3       75.0
4      100.0
5       75.0
       ...
307     50.0
308     75.0
309     75.0
310     50.0
311     25.0
Name: EnvironmentSatisfaction, Length: 311, dtype: float64