# WellSAP

## Workplace WellBeing Employee Environment Satisafaction Training

### Imports

In [10]:
import pandas  as pd
import sklearn
from sklearn import preprocessing
import joblib

### Data Loading

In [11]:
hr_data=pd.read_csv('./../dataset/hr_dataset.csv',header=0, index_col='Employee_ID')
attrition_data=pd.read_csv('./../dataset/attrition_data.csv',header=0, index_col='Employee_ID')

### Data Pre-Processing

In [12]:
hr_data=hr_data[['Age_Group','FromDiversityJobFairID','CitizenDesc','HispanicLatino','RaceDesc']]
attrition_data=attrition_data[['Age_Group','Gender','Attrition','BusinessTravel','DistanceFromHome','JobInvolvement','EnvironmentSatisfaction']]
result = pd.merge(hr_data, attrition_data, on=['Employee_ID','Age_Group'])
result

,Age_Group,FromDiversityJobFairID,CitizenDesc,HispanicLatino,RaceDesc,Gender,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,EnvironmentSatisfaction
Employee_ID,,,,,,,,,,,
1,21 to 35,0,US Citizen,No,White,M,Yes,Travel_Rarely,15.0,1.0,1.0
2,36 to 50,0,US Citizen,No,White,M,No,Travel_Frequently,1.0,1.0,3.0
3,21 to 35,0,US Citizen,No,White,F,Yes,Travel_Frequently,22.0,2.0,1.0
4,21 to 35,0,US Citizen,No,White,F,No,Travel_Rarely,8.0,4.0,2.0
5,21 to 35,0,US Citizen,No,White,F,Yes,Travel_Frequently,3.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
307,21 to 35,0,US Citizen,No,White,M,No,Travel_Frequently,2.0,3.0,4.0
308,21 to 35,0,US Citizen,No,Asian,F,No,Non-Travel,25.0,3.0,4.0
309,36 to 50,0,US Citizen,No,White,F,No,Travel_Frequently,27.0,3.0,3.0
310,36 to 50,0,US Citizen,No,White,F,Yes,Travel_Rarely,2.0,1.0,1.0
311,36 to 50,0,US Citizen,No,Asian,F,No,Travel_Rarely,2.0,2.0,2.0

In [13]:

age_encoder= preprocessing.LabelEncoder()
result['Age_Group'] = age_encoder.fit_transform(result['Age_Group'])
joblib.dump(age_encoder,'./../scaler_and _encoder/env_age_encoder.pkl')

gender_encoder = preprocessing.LabelEncoder()
result['Gender'] = gender_encoder.fit_transform(result['Gender'])
joblib.dump(gender_encoder,'./../scaler_and _encoder/env_gender_encoder.pkl')

job_diversity_encoder=preprocessing.LabelEncoder()
result['FromDiversityJobFairID'] = job_diversity_encoder.fit_transform(result['FromDiversityJobFairID'])
joblib.dump(job_diversity_encoder,'./../scaler_and _encoder/env_job_diversity_encoder.pkl')

citi_encoder=preprocessing.LabelEncoder()
result['CitizenDesc'] = citi_encoder.fit_transform(result['CitizenDesc'])
joblib.dump(citi_encoder,'./../scaler_and _encoder/env_citizendesc_encoder.pkl')

his_encoder=preprocessing.LabelEncoder()
result['HispanicLatino'] =his_encoder.fit_transform(result['HispanicLatino'])
joblib.dump(his_encoder,'./../scaler_and _encoder/env_HispanicLatino_encoder.pkl')


race_encoder=preprocessing.LabelEncoder()
result['RaceDesc'] =race_encoder.fit_transform(result['RaceDesc'])
joblib.dump(race_encoder,'./../scaler_and _encoder/env_racedesc_encoder.pkl')

attri_encoder=preprocessing.LabelEncoder()
result['Attrition'] =attri_encoder.fit_transform(result['Attrition'])
joblib.dump(attri_encoder,'./../scaler_and _encoder/env_attri_encoder.pkl')

busi_encoder=preprocessing.LabelEncoder()
result['BusinessTravel'] =busi_encoder.fit_transform(result['BusinessTravel'])
joblib.dump(busi_encoder,'./../scaler_and _encoder/env_busi_encoder.pkl')

result[['EnvironmentSatisfaction','Age_Group','Gender','FromDiversityJobFairID','CitizenDesc','HispanicLatino','RaceDesc','Attrition','BusinessTravel']]=result[['EnvironmentSatisfaction','Age_Group','Gender','FromDiversityJobFairID','CitizenDesc','HispanicLatino','RaceDesc','Attrition','BusinessTravel']].astype('category')

result.info()
result

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 1 to 311
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age_Group                311 non-null    category
 1   FromDiversityJobFairID   311 non-null    category
 2   CitizenDesc              311 non-null    category
 3   HispanicLatino           311 non-null    category
 4   RaceDesc                 311 non-null    category
 5   Gender                   311 non-null    category
 6   Attrition                311 non-null    category
 7   BusinessTravel           311 non-null    category
 8   DistanceFromHome         311 non-null    float64
 9   JobInvolvement           311 non-null    float64
 10  EnvironmentSatisfaction  311 non-null    category
dtypes: category(9), float64(2)
memory usage: 11.2 KB

,Age_Group,FromDiversityJobFairID,CitizenDesc,HispanicLatino,RaceDesc,Gender,Attrition,BusinessTravel,DistanceFromHome,JobInvolvement,EnvironmentSatisfaction
Employee_ID,,,,,,,,,,,
1,0,0,2,0,5,1,1,2,15.0,1.0,1.0
2,1,0,2,0,5,1,0,1,1.0,1.0,3.0
3,0,0,2,0,5,0,1,1,22.0,2.0,1.0
4,0,0,2,0,5,0,0,2,8.0,4.0,2.0
5,0,0,2,0,5,0,1,1,3.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
307,0,0,2,0,5,1,0,1,2.0,3.0,4.0
308,0,0,2,0,1,0,0,0,25.0,3.0,4.0
309,1,0,2,0,5,0,0,1,27.0,3.0,3.0
310,1,0,2,0,5,0,1,2,2.0,1.0,1.0
311,1,0,2,0,1,0,0,2,2.0,2.0,2.0

### Input Output Split

In [14]:
y=result['EnvironmentSatisfaction']
X=result.drop(['EnvironmentSatisfaction'],axis='columns')

### Data Preparation

In [15]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
columns=['JobInvolvement','DistanceFromHome']
X[columns]=scaler.fit_transform(X[columns])
joblib.dump(scaler,'./../scaler_and _encoder/env_minmax_scaler.pkl')

### Data Modelling

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state = 0)

In [17]:

from sklearn.svm import SVC
sv=SVC()
sv.fit(X_train,y_train)
print (sv.score(X_train, y_train))
accuracy2 = sv.score(X_test, y_test)
print (accuracy2)
joblib.dump(sv,'./../models/workplace_wellbeing_env_satisfaction.pkl')

0.36693548387096775
0.3333333333333333

### Scaling output 0-100

In [18]:
y = y.astype(int)*100/4
y

Employee_ID
1       25.0
2       75.0
3       25.0
4       50.0
5      100.0
       ...
307    100.0
308    100.0
309     75.0
310     25.0
311     50.0
Name: EnvironmentSatisfaction, Length: 311, dtype: float64